<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMT</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Ramaraja" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Prata" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Amethysta&subset=latin" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/styles/fonts.css">
    <link rel="stylesheet" href="../assets/styles/index.css">
    
</head>
<body>


    <nav class="navbar navbar-expand-md fixed-top ml-0  mt-xs-3 mr-xs-2 ">
      <a class="navbar-brand" href="#">SMT<small><sub class="logo-sub">design</sub></small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        
        
        <ul class="navbar-nav ml-auto p-2">
          <li class="nav-item active">
            <a class="nav-link" href="#">Works</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>



    <div id="barba-wrapper">
             <div class="barba-container">
