body {
  
  /*background-color:#2b2b2b;*/
  background-color: #decfc4;
  color: #000;
  font-family: Canela-Light;

  padding-top: 8rem;

}

a {

	color: rgba(55, 55, 55, 0.9);

}


a:hover {
	
	color: black;
	text-decoration: none;

}

.centered {
  position: absolute; /* or absolute */
  top: 30%;
}


h1 {

	font-family: Canela-Light;

}


.bg {

	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	x: 0;
	y: 0;
	padding: 1em 1em;


}

#title {

	letter-spacing: 1rem;

}


.navbar{

	 background-color: rgba(0,0,0,0.0);

}


.navbar .navbar-brand{

	font-size: 2rem;

}

.thumb-post img {

  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}
