html {
    height: 100%;
}

body {


 	
 	background-color: #fae6de;

  	color: #000;
  	font-family: 'baskerville', serif;

  	padding-top: 9em;

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;

	overflow-x:hidden;



}


p{

	font-size: 1.5em;
	color: #958580;

}


.allowFlow{

	overflow-x: hidden;

}

.intro{

	font-weight: bold;
	font-size: .9em;
	line-height: 2em;
	margin-left: -6em;

}


.bg-line{

	background-color: #cda99d;
    border: 0 none;
    height: 10px;

}

.header-bg{

	background-color: #ecc7bb;
	height: 45vh;
	margin-top: -15em;
	margin-right: 0;

}



.hero-img{

	background-color: green;
	margin-top: -30%;
	height: 78vh;
	margin-bottom: 0;

}

.portrait-hero{

	background-image: url("../imgs/portrait-hero.jpg");

	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: 30%;
	overflow: hidden;

}

.hero-img p{

	transform: rotate(-90deg);
	margin: 3.2em 0 1em 1em;
	color: white;
	padding: 0;
	font-size: 3em;

}


.couples-hero{

	background-image: url("../imgs/couples-hero.jpg");

	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: 30% 10%;
	overflow: hidden;

}

.weddings-hero{

	background-image: url("../imgs/weddings-hero.jpg");

	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: 80% 10%;
	overflow: hidden;

}





.dev{

	border: solid red 1px;

}


.navbar-brand{

	font-family: 'baskerville', serif;

	font-size: 2.6em;

	font-weight: 200;

	letter-spacing: .2em;

}

.nav-link{

	font-size: 1em;
	padding: 1em;

	font-weight: bold;


}


a {

	color: rgba(55, 55, 55, 0.9);

}


a:hover {
	
	color: black;
	text-decoration: none;

}

.centered {
  position: absolute; /* or absolute */
  top: 30%;
}



.bg {

	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	x: 0;
	y: 0;
	padding: 1em 1em;


}



.navbar{

	 background: rgba(0, 0, 0, 0);

}



