body {
  background-color: #080808;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 36px;
  left: 53px;
  height: 49px;
  width: 49px;
  z-index: 999;
  cursor: pointer;
  background: url(http://nfs.art.br/static/img/logo-efetivos-flat.972173e.png) center no-repeat;
  background-size: contain;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500vw;
  height: 100vh;
}

.holder .ctn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100vw;
  position: relative;
}

.holder .ctn-box .box {
  height: 60%;
  width: 60%;
  position: absolute;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  position: fixed;
  z-index: 10;
  color: #fff;
  border: 2px solid #ffffff1f;
  padding: 15px;
  top: 41vh;
  font-weight: bold;
  font-size: 10px;
  margin: 3vw;
  letter-spacing: 2px;
  transition: .8s ease;
  cursor: pointer;
}

button:hover {
  border: 2px solid #ff4d4d;
  transition: .8s ease;
}

.trigger-next {
  right: 0;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.photo {
  position: fixed;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: url(https://unsplash.it/1081) center no-repeat;
  background-size: cover;
}

.testphoto {
  position: fixed;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: url(https://unsplash.it/1081) center no-repeat;
  background-size: cover;
}

.box-text {
  position: fixed;
  right: 5vw;
  width: 30vw;
  padding: 5vw;
  color: #fff;
}

h1 {
  color: #ff4d4d;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 3px;
}

p {
  margin-top: 40px;
  color: #aaa;
  line-height: 22px;
  text-align: justify;
  max-width: 360px;
}

h2 {
  opacity: 0.12;
  font-family: 'Meddon', cursive;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18vw;
  color: #ff4d4d;
}

.ctn-indicator {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 87%;
  bottom: 10%;
}

.ctn-indicator p {
  font-family: sans-serif;
  color: #fff;
  font-size: 12px;
  margin: 0px 10px;
}

.ctn-indicator .dyna {
  color: #ff4d4d;
}

.ctn-box1 .box,
.page1 .testphoto {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.ctn-box2 .box,
.page2 .photo {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.ctn-box3 .box,
.page3 .photo {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.ctn-box4 .box,
.page4 .photo {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.ctn-box5 .box,
.page5 .photo {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}

.ctn-box6 .box,
.page6 .photo {
  background: url(../imgs/001.jpg) center no-repeat;
  background-size: cover;
  cursor: crosshair;
}