html {
    height: 100%;
}

body {


 	
 	background-color: #efcabe;

 	
 	/*
 	background-image: url('../imgs/bg-texture.jpg');
	*/

  	color: #000;
  	font-family: 'baskerville', serif;

  	padding-top: 9em;

	height: 100%;
	margin: 0;
	background-repeat: repeat;
	background-attachment: fixed;

	overflow-x:hidden;



}



/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.video-header video::-webkit-media-controls {
display:none !important;
}


.video-header video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}


.logo-sub{

    letter-spacing: .02em;
    position: absolute;
    top: 3.3em;
    left: 3.2em;
    top: 4.3em;
    font-size: 0.6em;

}

p{

	font-size: 1.5em;
	color: #958580;

}


.allowFlow{

	overflow-x: hidden;

}

.intro{

	font-weight: bold;
	font-size: .9em;
	line-height: 2em;
	margin-left: -6em;

}


.bg-line{

	background-color: #cda99d;
    border: 0 none;
    height: 4px;

}

.header-bg{

	background-color: #fae6de;
	height: 45vh;
	
	margin-top: -35vh;
	margin-right: 0;

}



.hero-img{

	/*background-color: #a16d5b;*/
    margin-top: -13vh;
    height: 78vh;
    margin-bottom: 0;

}

.portrait-hero{

	background-image: url("../imgs/portrait-hero.jpg");
	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: 30%;
	overflow: hidden;

}

.hero-img p{

	transform: rotate(-90deg);
	margin: 3.2em 0 1em 1em;
	color: white;
	padding: 0;
	font-size: 3em;

}


.couples-hero{

	background-image: url("../imgs/couples-hero.jpg");

	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: 30% 10%;
	overflow: hidden;

}

.weddings-hero{

	background-image: url(../imgs/weddings-hero.jpg);
    background-size: 54vh;
    background-repeat: no-repeat;
    background-position: 45% 70%;
    overflow: hidden;

}





.dev{

	border: solid red 1px;

}


.navbar-brand{

	font-family: 'baskerville', serif;

	font-size: 2.6em;

	font-weight: 200;

	letter-spacing: .2em;

}

.nav-link{

	font-size: 1em;
	padding: 1em;

	font-weight: bold;


}


a {

	color: rgba(55, 55, 55, 0.9);

}


a:hover {
	
	color: black;
	text-decoration: none;

}

.centered {
  position: absolute; /* or absolute */
  top: 30%;
}



.bg {

	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	x: 0;
	y: 0;
	padding: 1em 1em;


}



.navbar{

	 background: rgba(0, 0, 0, 0);

}





/*desktop layouts */


.d-gallery{

	

}

.mobile-only{

	display: none;

}

.portrait-header{

	margin-top: -35vh;
    content: url(../imgs/portrait-hero-d.jpg);
    position: absolute;
    right: 26vw;
    top: 56vh;
    width: 36%;
    height: auto;
    max-width: 515px;

    display: none;

}



.main-title span {
  display: none;
}


.main-title{

	color: #b28e82;
    position: absolute;
    right: -20%;
    margin-top: 26%;
    z-index: 200;
    color: #fae6de;

}




.navbar-nav .nav-link{

	padding-right: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: inherit;
    padding-left: 0;
    margin-right: 2em;

}

.navbar{

		background: #fae6de;
	    

	}

.header-text{

	display: none;

}

.desktop-only{

	display: block;

}


.desktop-intro h1{

	font-weight: 500;
	font-size: 4vw;
    margin-left: 6vw;


}

.desktop-intro{

	left: 1vw;
	color: #62473d;
	margin-left: 3vw;

}

.desktop-intro p{

	color: #62473d;
	margin-left: 2em;
	font-size: 1.4vw;
	

}

.desktop-intro span{

	margin-left: 3vw;
	font-family: 'Ramaraja', serif;

}

.d-gallery{

    padding-right: 2vw;

}


.gallery-side-text{

    position: absolute;
    right: -2%;
    margin-top: -5%;
    font-size: 4.8vw;
    transform: rotate(-90deg);
    color: #9a7f76;
    font-style: italic;
    line-height: 8vw;

}

.background-text{

	position: absolute;
    right: -5%;
    width: 100%;
    margin-top: 19%;
    letter-spacing: .5em;
    font-size: 4vw;
    /* transform: rotate(-90deg); */
    color: #f2eceaad;
    line-height: 9vw;
    font-style: italic;

}
	

.gallery-hero{

	height: auto;
    position: absolute;
    max-width: 603px;
    left: 57.5%;
    width: 55%;
    margin-top: -52%;
    border-bottom: 5px solid #d8909a;

}

.gallery-texture{

	height: auto;
    position: absolute;
    left: 113%;
    width: 23.9%;
    margin-top: -50%;

}


.gallery-img1{

	height: auto;
    position: absolute;
    max-width: 517px;
    left: 13%;
    width: 41%;
    margin-top: 2vh;
    z-index: -1;
    border-bottom: 5px solid #879e8b;


}

.gallery-img2{

    width: 81%;
    left: 28%;
    margin-top: 122%;
    position: absolute;
    border-bottom: 5px solid #b97575;

}

.gallery-img3{

    width: 51vw;
    left: 116%;
    margin-top: 71%;
    position: absolute;
    border-bottom: 5px solid #75afd4;

}

.gallery-img4{

    width: 81%;
    left: 28%;
    margin-top: 185%;
    position: absolute;
    z-index: -1;
    border-bottom: 5px solid #769fcc;

}

.gallery-img5{

    width: 74%;
    left: 116%;
    margin-top: 222%;
    position: absolute;
    z-index: 200;
    border-bottom: 5px solid #ce937d;

}

.gallery-img6{

    width: 101%;
    left: 171%;
    margin-top: 322%;
    position: absolute;
    z-index: -1;
    border-bottom: 5px solid #b0b29b;

}

.gallery-img7{

    width: 142%;
    left: 24%;
    margin-top: 329%;
    position: absolute;
    z-index: 200;
    border-bottom: 5px solid #e09087;

}


.gallery-img8{

    width: 73%;
    left: 193%;
    margin-top: 216%;
    position: absolute;
    z-index: -1;
    border-bottom: 5px solid #62473d;

}

.testimonials{

	margin-top: 165%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    background-color: #fdefea;


}

.testimonials p{

	font-style: italic;
	color: #62473d;
    margin-bottom: .5em;
    padding-bottom: 1em;
    border-top: 1px solid #62473d;
    border-bottom: 1px solid #62473d;
    font-size: 1.5em;
    padding-top: 1em;

}

.testimonials h1{


	color: #c1a69c;
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .7em;

}


.parallax img{


	width: 100%;
	opacity: .2;
	z-index: -1;

}

.contact-form{

	padding-left: 18vw;
    padding-right: 18vw;
    margin-top: 15%;
    padding-bottom: 24%;

    

}

.contact-btn{

	color: #62473d;
    background-color: #efcabe;
    border: none;
    font-size: 3vw;
    font-style: italic;


}

.contact-submit{

	border: solid 0px #664e4a;
    border-radius: 7px;
    font-size: 1.2em;
    margin-top: 1em;
    padding: 2px 13px 2px 13px;
    font-style: initial;

}

.contact-label{

	font-family: 'Prata', serif;
	color: #714b3f;
	text-align: left;
	font-size: 2vw;

}

*:focus {
    outline: 0 !important;
}

.parallax p{

	text-align: center;
    margin-top: -26%;
    font-size: 3vw;
    font-style: bold;
    font-size: 3.8vw;
    color: #62473d;
    padding-bottom: 20%;
    border-bottom: 5px solid #62473d;


}


.mobile-para{


	color: #4b4948;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 16vh;
    font-size: 6vw;
    padding-left: 7vw;
    padding-right: 12vw;


}

.works{

	margin-left: -2%;
    padding-left: 8vw;
    padding-right: 6vw;
    margin-top: 13%;


}

.works img{


      width: 25vw;

}

.works h2{

		color: #62473d;
		margin-left: 37vw;
	    margin-bottom: 7vw;
	    font-size: 4vw;
	    text-align: center;
	    font-family: 'sabon', serif;

}







/* mobile layouts */


@media (max-width: 576px) { 


	.desktop-only{

		display: none;

	}

	.mobile-only{

		display: block;

	}

	.header-text{

	display: block;

	}


	.main-title span{
	  
		display: block;

	}

	.main-title:after{

		display: none;

	}
	

	.main-title{

		position: relative;
	    color: black;
	    transform: rotate(0deg);
	    top: 0;
	    right: 0;
	    margin-top: 0;
	    padding-top: 10vh;
	    padding-bottom: 12vh;


	}


	.logo-sub{
    	top: 3.3em;
    }



	.header-bg{

		margin-top: -14vh;

	}


	.portrait-header{

		position: relative;

		display: block;

		top: 0;
		left:0;

		content:url("../imgs/portrait-hero.jpg");

	    background-color: #efcabe;
	    overflow: hidden;
	    object-fit: cover;
	    margin-top: -50vh;
	    height: 96vh;
	    width: 100vw;

	}


	.header-text{

	    color: white;
	    text-align: center;
	    margin-top: -47vh;

	}


	.main-cap{


		margin-left: -2em;
		
	}

	.sub-cap{


		margin-left: 2em;
		font-family: 'sabon', serif;
		font-style: italic;
		font-size: 1.7em;

	}

	.image-tile{

		width: 100vw;

	    box-shadow: 0 2em #fae6de;
	    margin-bottom: 3em;

	}

	.v-Line{

		background-color: #a27f74;
		border-left: 1px solid #a27f74;
		width: .05em;
	    height: 6em;
	    margin-top: -21vh;

	}

	.end-image img{

		width: 100vw;
		margin-bottom: 0;
		margin-top: -80vh;

	}


	.end-image{

		z-index: -1;

	}

	.end-text{

		margin-top: 10vh;
		color: white;

	}

	.end-text h1{

		font-size: 17vw;

	}





	.navbar{

		background: #fae6de;
	    border-bottom: #cda99d solid .3em;

	}

	.navbar-nav .nav-link{

		padding-right: 0;
	    text-align: center;
	    font-size: 1.5em;
	    font-weight: inherit;
	    padding-left: 0;

	}



}

